<!-- Template -->
<template>
    <div>
        <div class="announcement" v-for="announcement in announcements">

            <!-- Date block -->
            <div class="announcement-date">
                <span>{{ announcement.date | monthName }}</span>
                <span>{{ announcement.date | dayNumber }}</span>
            </div>

            <!-- Information block -->
            <div class="announcement-information">
                <p class="title">{{ announcement.city }}</p>
                <p>{{ announcement.place }}</p>
                <p>
                    <a href="#">Tickets</a>
                </p>
            </div>

            <div style="clear: both"></div>
        </div>
    </div>
</template>

<!-- Logic -->
<script>
  // Libs
  import moment from 'moment';

  // Providers
  import announcementsService from '../../services/announcements';

  export default {
    /**
     * Returns the data object.
     *
     * @returns {object}
     */
    data() {
      return {
        announcements: []
      };
    },

    /**
     * Fetches all announcements.
     *
     * @returns {Promise<void>}
     */
    async created() {
      try {
        const response = await announcementsService.getAnnouncements();
        this.announcements = response.data;
      } catch (e) {
        console.error(e);
      }
    },

    filters: {
      /**
       * Returns the month name.
       *
       * @param {string} date — Raw string date.
       * @return {string}
       */
      monthName(date) {
        return moment(date).format('MMM');
      },

      /**
       * Returns the day number.
       *
       * @param {string} date — Raw string date.
       * @return {string}
       */
      dayNumber(date) {
        return moment(date).format('DD');
      }
    }
  };
</script>
