.animation-container
  position: fixed

  margin: auto

  top: 0
  right: 0
  bottom: 0
  left: 0

  height: 100px
  width: 100px

  background-color: white
  border-radius: 16px

.external-logo, .internal-logo
  position: absolute

  top: 0
  right: 0
  bottom: 0
  left: 0

  height: 100px

.external-logo
  background-image: url('/images/logo_external.svg')

  -webkit-animation: external-logo 2s infinite
  animation: external-logo 2s infinite

.internal-logo
  background-image: url('/images/logo_internal.svg')

  -webkit-animation: internal-logo 2s infinite
  animation: internal-logo 2s infinite

@keyframes external-logo
  0%
    transform: rotate(0deg)
  50%
    transform: rotate(180deg)
  100%
    transform: rotate(0deg)

@keyframes internal-logo
  0%
    transform: rotate(0deg)
  50%
    transform: rotate(-180deg)
  100%
    transform: rotate(0deg)