.bio
  display: flex

  align-items: stretch
  justify-content: space-between
  flex-wrap: wrap

  .bio__element
    padding: 0.5em

    max-width: 50%
    min-width: 320px

    box-sizing: border-box

  .bio__container
    padding: 1em

    border-radius: $borderRadius

    font-size: 1em

    overflow: hidden

    +gradient($orange, $red)
    +shadow

    p:not(:last-of-type)
      margin-bottom: 1em