$hamburger-padding-x: 0.5em !default
$hamburger-padding-y: 0.5em !default
$hamburger-layer-width: 24px !default
$hamburger-layer-height: 2px !default
$hamburger-layer-spacing: 4px !default
$hamburger-layer-color: white !default
$hamburger-layer-border-radius: 4px !default
$hamburger-hover-opacity: 1 !default
$hamburger-active-layer-color: $hamburger-layer-color !default
$hamburger-active-hover-opacity: $hamburger-hover-opacity

.hamburger
  position: relative

  z-index: 4

  display: none !important