// "Full" gradient
=gradient-full
  background: $grayDark
  background: -moz-linear-gradient(left, rgba($grayDark, 0) 0%, rgba($grayDark, 1) 35%, rgba($grayDark, 1) 100%)
  background: -webkit-linear-gradient(left, rgba($grayDark, 0) 0%, rgba($grayDark, 1) 35%, rgba($grayDark, 1) 100%)
  background: linear-gradient(to right, rgba($grayDark, 0) 0%, rgba($grayDark, 1) 35%, rgba($grayDark, 1) 100%)

// Gradient
=gradient($light, $dark)
  background: $light
  background: -moz-linear-gradient(left, $light 0%, $dark 100%)
  background: -webkit-linear-gradient(left, $light 0%, $dark 100%)
  background: linear-gradient(to right, $light 0%, $dark 100%)

// Shadow
=shadow
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.125)
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.125)
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.125)