// Posts for the main page
.main-page .posts
  width: 66%

  float: left

// Posts wrapper
.main-page, .news-page
  .posts
    padding-right: 32px

    box-sizing: border-box

    .post
      margin-bottom: 64px

      padding-bottom: 32px

      border-bottom: $red solid thin

      .picture
        display: flex

        align-items: center
        justify-content: center

        float: left

        height: 192px
        width: 128px

        background-position: center
        background-size: cover

      .body
        position: relative

        padding-left: 32px

        max-height: 192px

        overflow: hidden
        transition: max-height 125ms ease

        h3
          margin-top: 0
          font-weight: normal

        p.text
          margin-bottom: 0

          line-height: 27.75px

          a
            display: none

            position: absolute

            margin-bottom: 4px
            padding-left: 32px

            right: 0
            bottom: 0

            color: $red
            cursor: pointer
            text-decoration: underline

            +gradient-full

          a:hover
            text-decoration: none

          a.more
            margin-bottom: 0

      div.more
        max-height: 512px

      // The last post
      &:last-of-type
        margin-bottom: 0
        padding-bottom: 0
        border-bottom: none

    button
      margin-top: 32px
      padding: 16px

      width: 100%

      border: 0
      border-radius: 4px
      color: white
      cursor: pointer
      transition: all 125ms

      +gradient($orange, $red)
      +shadow