@media screen and (max-width: 768px)
  // Header
  main header
    position: fixed

    z-index: 2

    top: 0
    left: 0
    right: 0

    margin-top: 0
    padding: 16px

    +gradient($orange, $red)
    +shadow

    // Tagline
    .tag

      // Main heading
      h1
        margin: 0

        a
          color: white

      // Sub heading
      h2
          display: none

    // Hamburger
    .hamburger
      display: block !important

      float: right

    // Navigation bar
    .navigation
      position: fixed

      z-index: 4

      top: 72px
      right: -80px
      bottom: 0

      width: 80px

      // Navigation links
      a
        display: block

        margin: 0.5em

        line-height: initial
        text-align: center

    // Active navigation link
    .navigation__active
      right: 0

  // App itself
  #app
    margin-top: 72px

  // Pages
  .main-page, .news-page

    // Entities (information)
    .posts, .announcements
      float: none

      width: 100%

    // Posts
    .posts
      padding-right: 0

      .post
        margin-bottom: 64px
        padding: 0 0 32px 0

        width: 100%

        border-top: none
        border-right: none
        border-left: none
        float: none

      .post:last-of-type
        border-bottom: 0

    // Announcements
    .announcements
      margin-top: 64px

      .announcement
        float: left

        margin-right: 2.5%

        width: 47.5%

        box-sizing: border-box
        white-space: nowrap

    .gallery-element
      width: 33.333333%

    .sound
      display: none

  .bio .bio__element
    max-width: 100%

@media screen and (max-width: 512px)
  .content
    .posts .post
      .picture
        float: none

        width: 100%

      .body
        padding-left: 0

        max-height: 208px

        h3
          margin-top: 1em

    .announcements .announcement
      float: none

      margin-right: 0

      width: 100%

    // Events
    .event
      height: auto

      border-bottom: $red solid thin
      text-align: left

      > *
        float: none

        height: auto

      .date, .tickets
        position: static

      .location span, a
        line-height: 40px

      .location
        width: auto

    .event:last-of-type
      padding-bottom: 0

      border-bottom: none

    .gallery-element
      width: 50%