// Imports
@import "colors"
@import "mixins"

// External
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700')
@import "hamburgers"
@import "~hamburgers/_sass/hamburgers/hamburgers"

$borderRadius: 4px

// ВСЕ ЭЛЕМЕНТЫ
*
  color: white
  font-family: 'Titillium Web', sans-serif
  font-size: 16px

// ТЕЛО
html, body, .wrapper
  margin: 0

  height: 100%

  background: $grayDark

body
  margin: 0

// ССЫЛКИ
a
  font-size: 16px

// ХОЛСТ
canvas
  border-radius: 20px

header, main, .footer__wrapper
  margin: auto

  max-width: 1024px

main
  padding: 0 16px 96px 16px

  min-height: 100%

  box-sizing: border-box
  overflow: hidden

  header
    margin-top: 32px

    // Tagline
    .tag
      float: left

      h1, h1 a
        color: $orange
        cursor: pointer

        font-size: 24px
        text-decoration: none

      h2
        margin-top: 0

    // Navigation
    nav
      float: right

      line-height: 73.27px

      a
        padding: 5px 10px

        border-radius: 17px
        text-decoration: none

      a:hover
        text-decoration: underline

.glitch
  width: 400%
  object-fit: cover

.content
  margin-bottom: 64px

  a:link
    transition: color 125ms

  a:hover
    color: $red

  h2, h2 a
    margin: 32px 0

    font-size: 24px

// Announcements wrapper
.announcements
  width: 33%
  float: right

  p
    margin: 0

    line-height: 32px

.announcement
  margin-bottom: 32px

  height: 96px

  overflow: hidden

.announcement-date
  float: left

  margin-right: 16px
  padding: 14px 0

  height: 96px
  width: 64px

  border-radius: 4px
  box-sizing: border-box

  +gradient($orange, $red)

  span
    display: block

    font-size: 1.25em

    line-height: 32px
    text-align: center

  span:last-child
    font-size: 1.5em

    line-height: 36px

// Events
.event
  position: relative

  padding: 32px 0

  height: 40px
  width: 100%

  text-align: center

  > *
    float: left

    height: 40px

  .date, .tickets
    position: absolute

  .date
    left: 0

  .date span
    display: inline-block

    padding: 8px

    border-radius: 4px

    +gradient($orange, $red)

  .location span, a
    line-height: 40px

  .location
    width: 100%

    box-sizing: border-box

  .club
    color: gray

  .tickets
    right: 0

// Footer
footer
  margin-top: -106px

  .footer__wrapper
    padding: 16px

    box-sizing: border-box

  .copyright, .sound
    margin: 20px 0

  .copyright
    float: left

  .sound
    float: right

.line
  width: 100%

  height: 10px

  +gradient($orange, $red)

// ЗАГОЛОВКИ
h1
  margin: 0 0 0 5px

  font-size: 22px
  font-weight: 300

h2
  font-weight: 200

.gallery-element
  position: relative
  float: left

  width: 20%

  cursor: pointer
  overflow: hidden

  img
    display: block

    width: 100%

    transition: transform 125ms

.gallery-element:hover
  img
    transform: scale(1.0725)

// КОПИРАЙТ
.copyright
  left: 50px
  bottom: 50px

// ЗВУК
.sound
  right: 50px
  bottom: 50px

  cursor: pointer

// АКТИВНЫЙ ПУНКТ МЕНЮ
.active
  +gradient($orange, $red)

.clear
  clear: both

// АКТИВНЫЙ ПУНКТ МЕНЮ
.selected
  color: $orange

.selected:before
  padding-right: 10px

@import "news"
@import "animation"
@import "bio"
@import "responsive"
@import "ui"