<!-- Template -->
<template>
    <div>
        <post v-for="post in posts" :key="post.id" :post="post" ref="post"></post>
        <button v-if="count > 5" @click="moreNews()">Show more news</button>
    </div>
</template>

<!-- Logic -->
<script>
  // Components
  import Post from '../post-component/post-component';

  // Providers
  import newsService from '../../services/news';

  export default {

    components: {Post},

    /**
     * Returns data object.
     *
     * returns {object}
     */
    data() {
      return {
        posts: [],
        count: 0,
        last: 0
      };
    },

    // Methods
    methods: {
      /**
       * Fetches the specified number of news.
       *
       * @param {number} number — Number of posts.
       * @returns {Promise<void>}
       */
      async getNews(number) {
        try {
          const response = await newsService.getNews(number);
          this.posts = response.data;
          this.last = this.posts[this.posts.length - 1].id;
        } catch (e) {
          console.error(e);
        }
      },

      /**
       * Counts total amount of news.
       *
       * @returns {Promise<void>}
       */
      async countNews() {
        try {
          const response = await newsService.countNews();
          this.count = response.data;
        } catch (e) {
          console.error(e);
        }
      },

      /**
       * Fetches more news.
       *
       * @returns {Promise<void>}
       */
      async moreNews() {
        try {
          const response = await newsService.moreNews(this.last);
          const posts = response.data;

          this.posts = this.posts.concat(...posts);
          this.last = posts[posts.length - 1].id;
          this.count -= posts.length;
        } catch (e) {
          console.error(e);
        }
      }
    },

    /**
     * Vue hook. Fetches news.
     *
     * @returns {void}
     */
    async created() {
      await this.getNews(5);
      await this.countNews();
    },
  };
</script>
