<template>

    <!-- Post -->
    <div class="post">

        <!-- Picture -->
        <div class="picture" v-bind:style="{ backgroundImage: `url(${post.picture})` }">
            <span v-if="pending">loading...</span>
        </div>

        <!-- Body -->
        <div class="body" v-bind:class="{ more: more }">
            <h3>
                <a :href="'/post/' + post.id">{{ post.title }}</a>
            </h3>
            <p>{{ post.created_at | createdAt }}</p>
            <p class="text">
                {{ post.body }}
                <a class="full" @click="more = !more" v-bind:class="{ more: more }">{{ more ? 'less...' :
                    'more...'}}</a>
            </p>
        </div>

        <div style="clear: both"></div>
    </div>
</template>

<script>
  // Libs
  import moment from 'moment/moment';

  // Mixins
  import overflow from '../../mixins/overflow.js';

  moment().format();

  export default {

    // Mixins
    mixins: [overflow],

    // Properties
    props: {
      post: {
        required: true,
        type: Object,
      }
    },

    // Filters
    filters: {
      /**
       * Returns formatted dates.
       *
       * @returns {string}
       */
      createdAt(date) {
        return moment(date).format('MMM Do YY');
      }
    },

    // Data
    data() {
      return {
        more: false,
        pending: true
      };
    },

    methods: {
      /**
       * Assigns a callback to execute
       * after the picture is loaded.
       *
       * @returns {void}
       */
      checkImage() {
        const src = this.post.picture;

        if (src) {
          let img = new Image(src);
          img.onload = () => this.pending = false;
          img.src = src;
        }
      }
    },

    /** @inheritDoc */
    created() {
      this.checkImage();
    }
  };
</script>